/*###########################################################################
# Footer
#############################################################################*/

footer {
  color: $normal-white;
  text-align: center;
  padding: 20px 0px;
  background: #2c3e50;
  font-size: 0.6875rem;
}
