/*###########################################################################
# Colors
#############################################################################*/


/*//////////////////////////////
/ General Colors
//////////////////////////////*/

// Primary colors
$primary-normal-blue:   #78BDD3;
$primary-normal-purple: #C04BAB;

// Primary Dark colors
$primary-dark-blue:   #509FB8;
$primary-dark-purple: #992F86;

// Primary Light colors
$primary-light-blue:   #70CFEE;
$primary-light-purple: #E76BD1;

// Normal colors
$normal-black: #23262A;
$normal-grey:  #9EA0A6;


/*//////////////////////////////
/ Specific Colors
//////////////////////////////*/
