/*###########################################################################
# BOXES
#############################################################################*/

.box {
	@include display-flex;
	@include align-items(center);

	&.end {
		@include justify-content(flex-end);
	}


	img {
		max-width: 225px;

		&.rigth {
			margin-right: -20px;
		}

		&.left {
			margin-left: -20px;

		}

	}

	.texts {
		background-color: #fff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		padding: 20px;
		max-width: 360px;
		z-index: 1;

		h4 {
			color: #70CFEE;
			font-style: normal;
			font-weight: normal;
			font-size: 21px;
			line-height: normal;
		}

		p {
			font-style: normal;
			font-weight: normal !important;
			font-size: 15px !important;
			line-height: 22px !important;
			color: #4C525A !important;
		}

	}
}

.price-boxes {
	width: 90%;
    margin: 0 auto;
    display: block;

	.price-box {
		background: #FFFFFF;
		border: 1px solid rgba(200, 200, 200, 0.21);
		box-sizing: border-box;
		box-shadow: 0px 3px 10px rgba(70, 70, 70, 0.18);
		border-radius: 8px;
		padding: 20px;

		display: inline-block;

		width: calc(33% - 20px);
		margin-right: 20px;

		min-height: 380px;
    	vertical-align: top;

    	display: inline-flex;
    	flex-direction: column;
    	@include justify-content(space-between);

		h4 {
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			line-height: normal;
			text-align: center;

			position: relative;

			margin: 0px;

			margin-bottom: 30px;


			&:after {
				position: absolute;
				content: '';
				width: 50%;

				border: 1px solid #C04BAB;

				left: 25%;
    			bottom: -15px;
			}

			&.blue {
				color: #70CFEE;

				&:after {
					border: 1px solid #78BDD3;
				}
			}

			&.pro {
				color: #F2C94C;

				&:after {
					border: 1px solid #F2C94C;
				}
			}

		}

		p {
			max-width: 100%;
			width: 100%;
			font-size: 14px;
			margin: 0;
		}

		p.description {
			color: #000000;
		}

		ul	{
			padding-top: 15px;
			margin-top: 0;
			li {
				max-width: 100%;
				width: 100%;
				p {
					
					line-height: 20px;
					color: #4C525A;
					max-width: 100%;
					width: 100%;
					margin-bottom: 10px; 
				}

			}
		}

		&:last-of-type {
			margin-right: 0px;

			ul {
				padding-top: 10px; 
			}
		}

		a {
			display: block;
			width: 110px;
			margin: 0 auto;
  			padding: 7px 7px;
  			margin-top: 30px;
		}
	}

}