/*###########################################################################
# BASE
#############################################################################*/

html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  min-height: 100%;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input,
select,
textarea {
  font-family: 'Ubuntu', sans-serif;
}

body.no-scroll {
  overflow: hidden;
  height: 1vh;
}

